.accordion {
  width: 35%;
  background-color: $white;
  box-shadow: $base-shadow;
  padding: 25px;
  border-radius: 15px;
  position: absolute;
  top: 50%;

  header {
    display: flex;
    gap: 20px;
    // margin-bottom: 1.5rem;
    img {
      width: 30px;
      height: 31px;
      margin: 9px 0;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
}
