.accordion-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
  cursor: pointer;

  .title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    p {
      font-size: 0.95rem;
      font-weight: 600;
      padding-right: 2rem;
    }

    img {
      width: 25px;
      height: 26px;
    }
  }

  .content {
    font-size: 0.85rem;
    grid-column: 2 / -1;
    line-height: 1.3;
  }
}
